# Dummy Variables
Why needed Dummy Variables:?
- Dummy variables are useful because they enable us to use a single regression equation to represent multiple groups.
- We don't need to write out separate equation models for each subgroup
- It is more flexible
- It allows multiple comparisons to be made
- Used when categorical variables as predictor variables
- Most common appeared is ommitted and rest are comverted (dummy_count = K -1)

In [114]:
# Import basic necessities
import pandas as pd
import numpy as np
import os

import warnings
warnings.filterwarnings('ignore')

In [115]:
# Make dummies - total 60, let's reduce to most owned vehicles
vehicles_file = "data/vehicles.csv"
drivers_file = "data/drivers.csv"

In [116]:
# Get Initial Data
dr_df =pd.read_csv(drivers_file)
veh_df =pd.read_csv(vehicles_file)

In [117]:
# Merge and analyze - possibly cut off less counted owned vehicles
drivers_subset = dr_df.merge(veh_df, left_on='VEHICLE_ID', right_on='VEHICLE_ID')  
drivers_subset.head()

   DRIVER_ID  GENDER  CREDIT_SCORE  VEHICLE_ID  AGE  YEAR   MAKE        MODEL
0          1       2           824     7399455   32  2016  DODGE  JOURNEY SXT
1       2181       2           824     7399455   29  2016  DODGE  JOURNEY SXT
2      38154       2           631     7399455   28  2016  DODGE  JOURNEY SXT
3      38265       2           666     7399455   28  2016  DODGE  JOURNEY SXT
4      47115       2           671     7399455   39  2016  DODGE  JOURNEY SXT

In [118]:
drivers_subset_count = drivers_subset.value_counts(['MAKE','MODEL']).reset_index(name='TOTAL_COUNT')

In [119]:
drivers_subset_count['KEEP'] = drivers_subset_count['TOTAL_COUNT'] > 1000

In [144]:
drivers_subset_count.info

<bound method DataFrame.info of           MAKE                       MODEL  TOTAL_COUNT   KEEP
0       NISSAN                  ALTIMA 2.5        11385   True
1         FORD                   FUSION SE         8686   True
2         FORD  F-150 SUPERCREW SUPER CREW         6634   True
3       NISSAN               ROGUE S/SV/SL         5705   True
4         FORD                    FOCUS SE         5628   True
...        ...                         ...          ...    ...
3542     LEXUS                RC 350 F SPT            1  False
3543  INFINITI                         M45            1  False
3544      AUDI                  A8 3.0 TDI            1  False
3545   PORSCHE                   MACAN GTS            1  False
3546     VOLVO          XC90 V8 AWD 7-PASS            1  False

[3547 rows x 4 columns]>

In [137]:
veh_df.count()

VEHICLE_ID    65934
YEAR          65934
MAKE          65934
MODEL         65934
dtype: int64

In [145]:
vehicles_subset = veh_df.merge(drivers_subset_count, left_on=['MAKE','MODEL'], right_on=['MAKE','MODEL'])

In [146]:
vehicles_subset.head()

,VEHICLE_ID,YEAR,MAKE,MODEL,TOTAL_COUNT,KEEP
0,2005191,2012,PORSCHE,911 CARRERA CARRERA 4/CARRERA 2,21,False
1,2005262,2012,PORSCHE,911 CARRERA CARRERA 4/CARRERA 2,21,False
2,7371303,2013,PORSCHE,911 CARRERA CARRERA 4/CARRERA 2,21,False
3,7371328,2014,PORSCHE,911 CARRERA CARRERA 4/CARRERA 2,21,False
4,7371329,2015,PORSCHE,911 CARRERA CARRERA 4/CARRERA 2,21,False

In [147]:
vehicles_subset_test = vehicles_subset[vehicles_subset['KEEP'].values == True]

In [148]:
vehicles_subset_test.count

<bound method DataFrame.count of        VEHICLE_ID  YEAR    MAKE  MODEL  TOTAL_COUNT  KEEP
825       4044358  2011  NISSAN  ROGUE         2138  True
826       4044361  2013  NISSAN  ROGUE         2138  True
827       4044377  2012  NISSAN  ROGUE         2138  True
828       7266697  2010  NISSAN  ROGUE         2138  True
829       7266698  2011  NISSAN  ROGUE         2138  True
...           ...   ...     ...    ...          ...   ...
51085     7468364  2019     KIA   SOUL         3986  True
51086     7468368  2019     KIA   SOUL         3986  True
51087     7468416  2015     KIA   SOUL         3986  True
51088     7468434  2019     KIA   SOUL         3986  True
51089     7468462  2018     KIA   SOUL         3986  True

[8838 rows x 6 columns]>

In [150]:
vehicles_subset_test.to_csv("data/vehicle_keep.csv", index=False)